@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.storybook-button {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
}
.storybook-button--primary {
  color: #fff;
  background-color: #ff0000;
}
.storybook-button--secondary {
  color: #ff0000;
  background-color: #fff;
  border: 1px solid #ff0000;
}

.storybook-button--medium {
  font-size: 1rem;
  padding: 1rem 2rem;
}
